
// Цвета

$white: #fff;
$black: #333333;
$black-4: #4a4a4a;
$black-41: #414955;
$black-0: #0e1824;
$black-8: #808080;
$black-7: #7d8590;
$black-5: #5f6875;
$black-9: #979797;
$black-2: #2c2c2c;
$black-3: #3d4550;

$blue: #166cca;
$blue_light: #eff2f7;
$yellow: #fcf231;
$yellow_dark: #fcd944;
$yellow_dark-hvr: #f9ca48;
$turquoise: #50e3c2;
$purple: #ba9dd1;

$main-color: $black;

$bg-color: #4a535f;

// Шрифты

$rbt: 'Roboto';